# 依赖与产物
node_modules
dist
coverage
*.tsbuildinfo

# 文档
docs/.vitepress/cache
docs/.vitepress/dist

# 日志
*.log

# 系统与编辑器
.DS_Store
.idea
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
*.local
